<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Página sobre o curso</title>
</head>
<body>
    <div class="container">
        <h1>Técnico em gastronomia</h1>
        <h3>Duração e carga horária:</h3>
        <p>
            Matutino e vespertino; 800 horas, 02 módulos
            Noturno: 900 horas, 03 módulos.
        </p>
        <hr />
        <h3>Coordenadores:</h3>
        <p>
            <strong>Matutino:</strong>
            Euzinéia M. S. Campagnaro
            <br />
            <strong>Vespertino:</strong>
            Euzinéia M. S. Campagnaro
            <br />
            <strong>Noturno:</strong>
            Laís Pagung Ribeiro
        </p>
        <hr />
        <h3>Competências:</h3>
        <ul class="list-group">
            <li class="list-group-item">Planejar, executar e supervisionar o trabalho em serviços de alimentação.</li>
            <li class="list-group-item">Atuar na organização da cozinha.</li>
            <li class="list-group-item">Participar da elaboração e organização de eventos e de cardápios.</li>
            <li class="list-group-item">Preparar alimentos e bebidas de acordo com os padrões de segurança alimentar.</li>
            <li class="list-group-item">Operar e higienizar utensílios e equipamentos.</li>
            <li class="list-group-item">Armazenar diferentes gêneros alimentícios.</li>
            <li class="list-group-item">Controlar estoque, consumo e custos dos alimentos.</li>
            <li class="list-group-item">
                Comunicar-se com fluência, clareza, cordialidade e desenvoltura usando a linguagem
                verbal e não-verbal de forma adequada às situações comunicativas próprias dos espaços profissionais de cozinha.
            </li>
        </ul>
        <hr />
        <h2>Ementa:</h2>
        <br />
        <h3>Confeitaria:</h3>
        <ul class="list-group">
            <li class="list-group-item">História, utilização dos equipamentos e utensílios da confeitaria.</li>
            <li class="list-group-item">Técnicas básicas: massas, cremes e merengues.</li>
            <li class="list-group-item">Bolos, biscoitos e tortas.</li>
            <li class="list-group-item">Confeitaria funcional.</li>
            <li class="list-group-item">Sobremesas empratadas, finger food sobremesa e chocolate.</li>
            <li class="list-group-item">Criação de sobremesas.</li>
        </ul>
        <br />
        <h3>Cozinha brasileira:</h3>
        <ul class="list-group">
            <li class="list-group-item">Iniciação à Cozinha Brasileira, regiões e imigrações.</li>
            <li class="list-group-item">Execução de produções da Cozinha Regional da Região Sudeste, Sul, Norte, Nordeste, Centro-Oeste.</li>
        </ul>
        <br />
        <h3>Ética e relações interpessoais:</h3>
        <ul class="list-group">
            <li class="list-group-item">Conceitos de ética e Ralações Interpessoais.</li>
            <li class="list-group-item">Ética Empresarial e profissional.</li>
            <li class="list-group-item">Ética nos negócios, valores morais e conceito.</li>
            <li class="list-group-item">Código de ética profissional.</li>
            <li class="list-group-item">Relacionamento interpessoal, de participação social e comunicação.</li>
            <li class="list-group-item">Relações pessoais e o feedback.</li>
            <li class="list-group-item">Adaptabilidade e situações de stress.</li>
            <li class="list-group-item">Grupos participativos.</li>
            <li class="list-group-item">Autonomia individual.</li>
            <li class="list-group-item">Sinergia.</li>
            <li class="list-group-item">Plano estratégico.</li>
            <li class="list-group-item">Processos e ações para a qualidade como um todo.</li>
            <li class="list-group-item">Equipes na cozinha.</li>
            <li class="list-group-item">O Empreendedor e suas características; Perfil Empreendedor; Reconhecimento de oportunidades.</li>
        </ul>
        <br />
        <h3>Higiene e manipulação de alimentos/nutrição:</h3>
        <ul class="list-group">
            <li class="list-group-item">Microbiologia e conservação dos alimentos.</li>
            <li class="list-group-item">Boas práticas de fabricação – BPF.</li>
            <li class="list-group-item">Procedimentos operacionais Padronizados – POPs.</li>
            <li class="list-group-item">Análise de Perigos e Pontos críticos de controle – APPCC.</li>
            <li class="list-group-item">Estudo dos nutrientes: função, fontes, deficiências e excessos.</li>
            <li class="list-group-item">A pirâmide de alimentos e a promoção da alimentação saudável; sistemas alimentares</li>
        </ul>
        <br />
        <h3>Hospitalidade aplicada na gastronomia:</h3>
        <ul class="list-group">
            <li class="list-group-item">História da hospitalidade e da gastronomia.</li>
            <li class="list-group-item">Estudo de casos de desenvolvimento do turismo na gastronomia.</li>
            <li class="list-group-item">Conceituação de hospitalidade.</li>
            <li class="list-group-item">Objetivos e importância da gastronomia na região.</li>
            <li class="list-group-item">Fundamentos da hospitalidade na gastronomia.</li>
            <li class="list-group-item">Eficiência, postura, ética e técnicas no atendimento ao cliente.</li>
            <li class="list-group-item">A formação do gosto e das necessidades alimentares do homem.</li>
            <li class="list-group-item">Contextos históricos relacionados à gastronomia na Pré-história, Idade Antiga, Média, Moderna e Contemporânea.</li>
            <li class="list-group-item">Contextos históricos na tipologia de serviços relacionados aos conceitos de cozinha.</li>
            <li class="list-group-item">Origem das regras de etiqueta à mesa.</li>
            <li class="list-group-item">Origem dos restaurantes.</li>
            <li class="list-group-item">Alimentação no Brasil: origem e influências.</li>            
        </ul>
        <br />
        <h3>Orçamentos e custos aplicados à gastronomia:</h3>
        <ul class="list-group">
            <li class="list-group-item">Noções básicas de custos aplicada a gastronomia.</li>
            <li class="list-group-item">O processo orçamentário.</li>
            <li class="list-group-item">Tipos de orçamentos.</li>
            <li class="list-group-item">Práticas orçamentárias.</li>
            <li class="list-group-item">Fator de correção: objetivos, modelos e aplicabilidade.</li>
            <li class="list-group-item">Matemática: operações básicas, porcentagem e proporções.</li>
            <li class="list-group-item">Influência do rendimento de receitas e alimentos no custo final das produções de cozinha.</li>
            <li class="list-group-item">Peso bruto e peso líquido: conceito, objetivo, cálculos, equipamentos e utensílios para pesagem.</li>
            <li class="list-group-item">Elaborar a ficha técnica de produção, utilizando os índices culinários.</li>
            <li class="list-group-item">Elaborar a ficha técnica de produção, utilizando os índices culinários.</li>
            <li class="list-group-item">O Empreendedorismo Social; Empreendimentos Sociais.</li>
            <li class="list-group-item">Reconhecimento de oportunidades.</li>
            <li class="list-group-item">O Plano de Negócios; Mercado alvo e cliente.</li>
        </ul>
        <br />
        <h3>Teoria e técnica em gastronomia I:</h3>
        <ul class="list-group">
            <li class="list-group-item">Regras para funcionamento na cozinha (uniforme, postura, mise-en-place).</li>
            <li class="list-group-item">Identificação de materiais necessários para o trabalho na cozinha.</li>
            <li class="list-group-item">Identificação de legumes, hortaliças, ervas e especiarias.</li>
            <li class="list-group-item">Manipulação e cortes de legumes e verduras.</li>
            <li class="list-group-item">Elementos aromáticos.</li>
            <li class="list-group-item">Preparação de fundos e caldos base.</li>
            <li class="list-group-item">Elementos de ligação.</li>
            <li class="list-group-item">Introdução ao preparo de Molhos base.</li>
            <li class="list-group-item">Introdução ao preparo de Massas.</li>
            <li class="list-group-item">Introdução ao preparo de Tubérculos.</li>
            <li class="list-group-item">Introdução ao preparo de Ovos.</li>
            <li class="list-group-item">Introdução ao preparo de alimentos à base de grãos e cereais.</li>
            <li class="list-group-item">Introdução ao preparo de alimentos à base de arroz.</li>
            <li class="list-group-item">Introdução ao preparo de Aves.</li>
            <li class="list-group-item">Introdução ao preparo de Carnes.</li>
        </ul>
        <br />
        <h3>Cozinha alternativa/funcional:</h3>
        <ul class="list-group">
            <li class="list-group-item">Alimentação alternativa para populações carentes.</li>
            <li class="list-group-item">O que é a alimentação alternativa.</li>
            <li class="list-group-item">Uma analise critica sobre alimentação.</li>
            <li class="list-group-item">Questionamento ético.</li>
            <li class="list-group-item">Dimensão cultural e aceitação dos ditos alimentos alternativos.</li>
            <li class="list-group-item">É o país incapaz de produzir suficiente alimento convencional?</li>
            <li class="list-group-item">Saúde e alimentação alternativa.</li>
            <li class="list-group-item">Combatendo a fome com alimentação alternativa.</li>
        </ul>
        <br />
        <h3>Cozinha internacional:</h3>
        <ul class="list-group">
            <li class="list-group-item">Histórico das cozinhas étnicas mundiais.</li>
            <li class="list-group-item">Estudo da cozinha Portuguesa, Espanhola, Alemã, Norte da África, Oriente Médio, Francesa, Italiana.</li>
            <li class="list-group-item">Estudo da cozinha Latino Americana. Peru, Argentina, Bolívia, México, USA.</li>
            <li class="list-group-item">Estudo da cozinha oriental. Tailandesa, Japonesa, Chinesa e Coreana.</li>
        </ul>
        <br />
        <h3>Enollogia, destilados e coquetéis:</h3>
        <p class="h4">
            <ol>
                <li>Enologia:</li>
            </ol>
        </p>        
        <ul class="list-group">
            <li class="list-group-item">Introdução e a história do vinho.</li>
            <li class="list-group-item">Vinho, sua origem, religião e saúde.</li>
            <li class="list-group-item">Uvas viníferas, brancas e tintas.</li>
            <li class="list-group-item">A fermentação, a planta, espécies de videiras, método de enxertia.</li>
            <li class="list-group-item">Fatores determinantes da qualidade do vinho.</li>
            <li class="list-group-item">Terroir, solo, clima, plantio e colheita.</li>
            <li class="list-group-item">Vinificação, amadurecimento e envelhecimento.</li>
            <li class="list-group-item">Análise sensorial dos vinhos: exame visual, olfativo e gustativo.</li>
            <li class="list-group-item">Serviço do vinho, escolha, compra e armazenamento.</li>
            <li class="list-group-item">Técnicas do serviço do vinho.</li>
            <li class="list-group-item">Sommelier.</li>
        </ul>
        <br />
        <p class="h4">
            <ol>
                <li>Destiladas e Fermentadas:</li>
            </ol>
        </p>
        <ul class="list-group">
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
            <li class="list-group-item">.</li>
        </ul>
    </div>
</body>
</html>
